// -----------------------------------------------------------------------------
// В этом файле находятся всевозможные специфические стили
// -----------------------------------------------------------------------------

.scroll-lock {
  overflow: hidden;
}

.collapsed:not(.collapsed_show) {
  display: none !important;
}

.scrollbar-hide {
  ::-webkit-scrollbar {
    display: none;
  }
}
