{
  "extends": "standard",
  "ignorePatterns": [
    "src/js/libs/*"
  ],
  "rules": {
    "no-new": "off",
    "comma-dangle": "off",
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": "off",
    "brace-style": 0
  }
}