@mixin make-container {
  $container-gutter: $container-padding * 2;

  @each $breakpoint, $width in $container-max-widths {
    @include mq($from: $breakpoint) {
      max-width: $width + $container-gutter;
    }
  }

  width: 100%;
  margin: 0 auto;
  padding: 0 $container-padding;

  &--wide {
    @include mq($from: desktop) {
      max-width: $container-wide-width + $container-gutter;
    }
  }
}
