.modal {
  position: fixed;
  z-index: $z-index-modal;
  inset: 0;
  overflow: hidden;
  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $transition-time ease;

  &.is-show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__overlay {
    position: absolute;
    inset: 0;

    transition: $transition-time ease;
    backdrop-filter: blur(15px);
  }

  &__close {
    @include mq($until: tablet) {
      top: 12px;
      right: 12px;
      width: 16px;
      height: 16px;
    }

    position: absolute;
    z-index: 3;
    top: 30px;
    right: 30px;

    width: 20px;
    height: 20px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M1 1L21 21' stroke='%23333333' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M21 1L1 21' stroke='%23333333' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;

    transition: $transition-time ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: -1.6rem;
    }
  }

  &__conainer {
    position: relative;
    z-index: 2;
  }
}
