/*
------------------------------------------------------------------------------
Подключение sass-mq с кастомными брейкпоинтами проекта

Модуль sass-mq инициализируется с картой брейкпоинтов,
сгенерированной на основе размеров контейнеров проекта
(см. breakpoint-generator).

Что происходит:
- В sass-mq передаётся карта $generated-breakpoints
- Значения брейкпоинтов рассчитываются заранее и отражают
  реальные размеры контейнеров с учётом padding и offset

Зачем это нужно:
- Использование семантических брейкпоинтов (mobile, tablet, laptop и т.д.)
- Полная синхронизация media queries и контейнеров
- Централизованное управление адаптивом

Экспорт:
- Модуль sass-mq пробрасывается наружу через @forward
- В остальных файлах проекта используется единый mq():
  @include mq($from: tablet) { ... }

------------------------------------------------------------------------------
*/

@use "sass-mq" with (
  $breakpoints: $generated-breakpoints
);

@forward "sass-mq";
